.App {
  text-align: center;
}

.ui.container {
  margin-top: 2em;
}

.ui.secondary.menu .active.item {
  background: #0d89e6;
  color: white;
  border-radius: 0;
  border-bottom: 0;
}

.ui.secondary.menu .item {
  border-bottom: 2px solid grey;
  border-radius: 0;
  background-color: #d4d4d52e;
  font-size: 15px;
  font-weight: bold;
}